@import "variables";

.article__details {
  padding-left: $margin-inline;
  padding-right: $margin-inline;
  padding-top: 95px;
}

.article__details__heading {
  display: none;
}

.article__details__definitions--lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.article__details__definitions--lists dd,
.article__details__definitions--lists dt {
  line-height: 24px;
  font-size: 16px;
  font-style: normal;
}

.article__details__definitions--lists dt {
  color: $half-black;
}

.article__details__definitions--lists dd {
  margin: 0;
  font-weight: bold;
  color: $black-color;
  padding-bottom: 44px;
}

.article__details__definition__list span {
  display: block;
}

@media (min-width: $breakpoint) {
  .flex-span {
    display: flex;
    gap: 5px;
  }
}
