@import "variables";

.article__mineral {
  padding-left: $margin-inline;
  padding-right: $margin-inline;
  margin-bottom: 100px;
  margin-top: 61px;
}

.article__mineral__heading {
  font-family: "DM serif Display";
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 47px;
}

.article__mineral__main--paragraph.place {
  color: $black-color;
  padding-bottom: 43px;
  line-height: 32px;
  font-size: 18px;
}

.article__mineral__main--paragraph.experience {
  color: $half_black;
  padding-bottom: 70px;
  line-height: 24px;
  font-size: 16px;
}

.italic {
  font-style: italic;
}

.mineral__media--lists {
  @include flex-row;
  @include reset-link-list;
  max-width: calc(100% * 105 / 375);
}

.mineral__media--anchor span {
  transform: translateX(-99999%);
  opacity: 0;
}

.mineral__media--anchor {
  display: block;
  width: 20px;
  @include center-background;
  background-size: contain;
  transition: transform .3s;
}

.mineral__media--anchor.facebook {
  background-image: img("icon_facebook.svg");
}

.mineral__media--anchor.twitter {
  background-image:img("icon_twitter.svg");
}

.mineral__media--anchor.instagram {
  background-image: img("icon_instagram.svg");
}

.mineral__media--anchor:hover {
  transform: scale(1.5);
}

.mineral__media--anchor.facebook:hover {
  background-image: img("icon_facebook_hover.svg");
}

.mineral__media--anchor.twitter:hover {
  background-image:img("icon_twitter_hover.svg");
}

.mineral__media--anchor.instagram:hover {
  background-image: img("icon_instagram_hover.svg");
}
