@import "variables";

.article__updates {
  background-color: $secondary-color;
  padding-top: 65px;
  padding-bottom: 54px;
  padding-left: $margin-inline;
  padding-right: $margin-inline;
}

.article__updates__header {
  display: flex;
  flex-direction: column;
}

.article__updates__heading {
  order: 2;
  font-family: "DM Serif Display";
  line-height: 48px;
  font-size: 40px;
  // max-width: 382px;
  min-width: 300px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.latest {
  order: 1;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
}

[for="email"] {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin-bottom: 16px;
}

.article__updates__form-feildeset {
  border: none;
  padding: 0;
}

[name="email"],
.btn.btn-submit {
  display: block;
  height: 48px;
  font-family: "DM sans";
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #DADADA;
}

[name="email"] {
  width: 100%;
}

.btn.btn-submit {
  background-color: $brand-color;
  width: calc(100% * 170 / 357);
  max-width: 170px;
  cursor: pointer;
  color: $primary-color;
  margin-top: calc(100% * 17 / 375);
  transition: 0.1s;
}

.btn.btn-submit:hover {
  background-color: rgba(0, 0, 255, 0.5);
  transform: scale(1.1);
  box-shadow: 2px 2px 2px black;
}

@media (min-width: $breakpoint) {
  .article__updates--container {
   @include flex-row;
   align-items: flex-start;
  }

  [for="email"],
  [name="email" ],
  .btn.btn-submit {
    margin: 0;
  }

  [for="email"] {
    margin: 6px;
  }

 .article__updates__form-feildeset  {
    @include flex-row;
    flex-wrap: wrap;
    width: 45vw;
    margin-left: 5vw;
    max-width: 570px;
    margin-top: 3rem;
 }

 [for="email"] {
   display: block;
   flex-basis: 100%;
 }

 [name="email" ] {
   width: calc(100% * 342 / 570);
 }

 .btn.btn-submit {
   width: calc(100% * 170 / 570);
 }
}