@import "variables";

html {
  background-color: $base-background-color;
  font-family: "DM sans";
  font-weight: 400;
}

article,
.container {
  max-width: 1164px;
  margin: auto;
}

@media (min-width: $breakpoint) {
  .section__flex {
    @include flex-row;
    max-width: 1164px;
    margin: auto;
  }
  main .article__mineral {
    margin-top: 87px;
  }
}