@import "variables";

html {
  background-color: $base-background-color;
  font-family: "DM sans";
  font-weight: 400;
}

.container {
  max-width: 1164px;
  margin: auto;
}

@media (min-width: $breakpoint) {
  body main {
    @include flex-row;
    flex-wrap: wrap;
  }

  body .masthead,
  .article__image-slider,
  .article__updates {
    flex-basis: 100%;
  }

  main .article__details,
  main .article__mineral {
    flex-basis: 50%;
  }
}