@import "variables";

html {
  background-color: $base-background-color;
  font-family: "DM sans";
  font-weight: 400;
}

.container {
  max-width: 1164px;
  margin: auto;
}

@media (min-width: 720px) {
  body main {
    display: flex;
    flex-direction: column;
  }

  body .masthead {
    flex-basis: 100%;
  }

  main .article__image-slider {
    flex-basis: 50%;
  }
}