$fonts : (
  (family: "DM sans", weight: 400, style: normal, filename: "dm_sans"),
  (family: "DM sans", weight: 700, style: normal, filename: "dm_sans"),
  (family: "DM sans", weight: 500, style: normal, filename: "dm_sans"),
);

@each $font in ($fonts) {
  @font-face {
      font-family: map-get($font, family);
      font-weight: map-get($font, weight);
      font-style: map-get($font, style);
      src: local("#{map-get($font, family)}-Regular"),
           local("#{map-get($font, family)} Regular"),
           local("#{map-get($font, family)}-Bold"),
           local("#{map-get($font, family)} Bold"),
           url('../fonts/#{map-get($font, filename)}_400}.woff') format("woff"),
           url('../fonts/#{map-get($font, filename)}_500.woff') format("woff"),
           url('../fonts/#{map-get($font, filename)}_700.woff') format("woff"),
           url('../fonts/#{map-get($font, filename)}_400}.woff2') format("woff2"),
           url('../fonts/#{map-get($font, filename)}_500.woff2') format("woff2"),
          url('../fonts/#{map-get($font, filename)}_700.woff2') format("woff2"),
  };
};

$serif_fonts : (
  (family: "DM serif Display", weight: 400, style: normal, filename: "dm_serif_display"),
  (family: "DM serif Display", weight: 400, style: italic, filename: "dm_serif_display"),
);

@each $font in ($serif_fonts) {
  @font-face {
      font-family: map-get($font, family);
      font-weight: map-get($font, weight);
      font-style: map-get($font, style);
      src: local("#{map-get($font, family)}-Regular"),
           local("#{map-get($font, family)} Regular"),
           local("#{map-get($font, family)}-Bold"),
           local("#{map-get($font, family)} Bold"),
           url('../fonts/#{map-get($font, filename)}_400.woff') format("woff"),
           url('../fonts/#{map-get($font, filename)}_400.woff2') format("woff2"),
  };
};
