@import "variables";

.main__footer,
.footer__navigation--container {
  padding-top: 77px;
}
.main__footer {
  background-color: $primary-color;
  color: $black-color;
  padding-inline: $margin-inline;
}

.main__footer__heading,
.main__footer_personal-website {
  margin-block-end: 30px;
}

.main__footer__heading {
  font-family: "DM serif Display";
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
}

.footer__componants,
.footer__navigation--anchor,
.main__footer_personal-website {
  color: $half-black;
}

.main__footer_personal-website {
  line-height: 24px;
  font-size: 16px;
}

.footer__navigation {
  @include reset-nav;
}

.footer__experience--lists {
  @include reset-link-list;
}

.footer__experience--list { 
  @include flex-row;
  justify-content: flex-start;
  align-items: center;
}

.footer__experience--lists > li {
  margin-block-end: 27px;
}

.footer__experience--lists > li p {
  font-size: 16px;
  line-height: 24px;
  color: $half-black;
}

.footer__experience--lists > li time {
  font-size: 12px;
  line-height: 24px;
  color: $black-color;
}

picture ~ div {
  margin-inline-start: 32px;
}

.footer--picture {
  width: calc(100% * 70 / 375);
  height: calc(100% * 47 / 375);
}

.footer--picture > img {
  border-radius: 5px;
}

.footer__componants {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding-block: 29px;
  line-height: 24px;
  font-size: 16px;
}

.footer__navigation--anchor {
  display: inline-block;
  padding: 9px;
  transition: 0.2s;
}

.footer__navigation--anchor:active {
  color: $black-color;
  padding-block: 13px;
  font-weight: bold;
}

.footer__navigation--anchor:visited {
  color: $brand-color;
}

.footer__navigation--anchor.anchor.home {
  padding-block: 17px;
  color: $black-color;
  font-weight: 700;
  padding-top: 0;
}

.footer__navigation--anchor:hover {
  color: $black-color;
  font-weight: bold;
  transform: scale(1.1);
  background-color: #cccccc;
}

.footer__experience {
  padding-block: 77px;
}

@media (min-width: $breakpoint) {
  .footer--container.container {
    @include flex-row;
    flex-wrap: wrap;
  }

  .main__footer__aboutthewriter {
    flex-basis: 35%;
  }

  .footer__navigation--container {
    flex-basis: 25%;
    padding-top: 0;
  }

  .footer__experience {
    flex-basis: 40%;
    padding-top: 0;
  }

  .footer__componants {
    @include flex-row;
    flex-basis: 100%;
  }
}