@import "variables";

.header {
  background-color: $brand-color;
}

.header__container {
  @include flex-row;
  align-items: center;
  padding-left: $margin-inline;
  padding-right: $margin-inline;
  margin: auto;
}

.header__heading {
  font-family: "DM serif Display";
  text-transform: uppercase;
  color: $primary-color;
  margin-block: 16px;
  line-height: 32px;
  font-size: 24px;
}

//masthead
.masthead__heading,
.masthead__description {
  font-style: normal;
  color: $black-color;
}

.masthead {
  padding-left: $margin-inline;
  padding-right: $margin-inline;
}

.masthead__heading {
  font-weight: 400;
  font-family: "DM serif Display";
  font-weight: normal;
  font-size: 52px;
  line-height: 64px;
  margin-top: 66px;
  margin-bottom: 79px;
}

.masthead__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 80px;
}

.perspective {
  margin-block-end: 0px;
}

@media (min-width: 720px) {
  .masthead--container {
    max-width: 457px;
  }

  .header__container {
    align-items: flex-start;
  }

  .header__heading {
    line-height: 48px;
    font-size: 40px; 
    max-width: 50%;
  }

  .masthead__heading {
    font-size: 72px;
    line-height: 80px;
  }
}