@import "variables";

.header {
  background-color: $brand-color;
}

.header__heading {
  text-transform: uppercase;
  color: $primary-color;
  margin-inline-start: $margin-inline;
}

.masthead--container {
  max-width: 100%;
}

.header__container {
  @include flex-row;
  align-items: center;
}