@import "variables";

.article__image-slider {
  padding-left: $margin-inline;
  padding-right: $margin-inline;
  overflow: hidden;
}

.article__image-slider__heading {
  display: none;
}

.images--container > picture {
  margin: 0;
}

.images {
  position: relative;
  padding-bottom: calc(100% * 105 / 375);
  overflow: visible;
 }

.images picture > img {
  border-radius: 5px;
  margin: 0;
}

.pictures-container {
  display: flex;
  position: absolute;
  padding-top: 10px;
  right: -235%;
  left: 0;
  bottom: 0;
}

.pictures-container picture {
  width: calc(100% * 137 / 375);
  height: calc(100% * 85 / 375);
}

.pictures-container picture:not(:nth-of-type(1)) {
  opacity: .5;
  margin-left: 9px;
}

.pictures-container picture:hover {
  opacity: 1;
}

//media 
@media (min-width: $breakpoint) {
  .images {
    padding-bottom: 0;
  }

  .pictures-container {
    display: flex;
    position: initial;
    width: 100%;
    padding-top: 10px;
  }

  .pictures-container picture:not(:nth-last-of-type(1)) {
    margin-inline-end: 9px;
  }
}