@import "variables";

.header__navigation {
  @include reset-nav;
}

//rule for the anchors
.list--anchor {
  display: inline-block;
  padding: 1rem;
  text-transform: capitalize;
  color: $primary-color;
  cursor: pointer;
  transition: transform 0.3s;
}

//state list anchor hovered
.list--anchor:hover {
  background-color: $secondary-color;
  transform: scale(1.1);
  transition: transform 0.3s;
  box-shadow: 1px 1px 1px black;
}

//rule for the menu
[for="menu"] {
  order: 3;
  display: block;
  width: 120px;
  height: 20px;
  line-height: 48px;
  margin-right: $margin-inline;
  background-image: img("icon_menu.svg");
  background-repeat: no-repeat;
  background-position: right;
}

//hide the span in the label
label > span {
  display: none;
}

//hide the checkbox and change its order
[type="checkbox"][name="menu"] {
  order: 2;
  opacity: 0;
}

//rule for the navigation. close state
.header__navigation {
  background-color: $brand-color;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 180px;
  height: 100vh;
  box-shadow: 0 0 50px rgba(0,0,0,.5);
  transform: translateY(-210%);
  transition: transform 0.5s;
}

//checkbox is checked show the navv list
body [type="checkbox"]:checked ~ .header__navigation {
  transform: translateY(0);
}

//if checkbox is checked, label is filling the viewport
body [type="checkbox"]:checked ~ .header__navigation label {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 180px;
  height: 100vh;
  width: calc(100vw - (180px + 20px));
  background: rgba(0,0,0,.25);
}

//here is going back to portfolio
.back-to-portfolio {
  display: inline-block;
  @include font-wei-norm-siz-16;
  @include center-background;
  background-image: img("icon_arrow_left.svg");
  background-size: 14px;
  background-position: left;
  margin-top: 17px;
  padding: 30px;
  text-decoration: $text-decoration-none;
  color: rgba(0, 0, 0, 0.5);
}

//@media (720px)
@media (min-width: $breakpoint) {
  //align the nav list on top of the header
  .header__navigation-lists.nav {
    @include flex-row;
    flex-wrap: wrap;
  }

//rule for the navigation block on desktop
  .header__navigation {
    padding: 0;
    background: none;
    position: initial;
    box-shadow: none;
    transform: none;
    transition: none;
    height: auto;
    width: auto;
  }

//kill the checkbox on desktop
  [type="checkbox"] {
    display: none;
  }

//destroy the label on desktop
  [for="menu"] {
    display: none;
  }

//rule for the navigation list on desktop
  .list--anchor  {
    line-height: 48px;
    font-size: 16px;
  }
}