@import "variables";

.header__navigation {
  @include reset-nav;
}

.list--anchor {
  display: inline-block;
  padding: 1rem;
  text-transform: capitalize;
  color: $primary-color;
  cursor: pointer;
  transition: transform 0.3s;
}

.list--anchor:hover {
  background-color: $secondary-color;
  transform: scale(1.2);
  transition: transform 0.3s;
  box-shadow: 1px 1px 1px black;
}

body [type="checkbox"][name="menu"] {
  border: none;
  background-color: $brand-color;
}

[for="menu"] {
  order: 3;
  display: block;
  width: 20px;
  height: 20px;
  margin-inline-end: $margin-inline;
  background-image: img("icon_menu.svg");
  background-repeat: no-repeat;
}

label > span {
  display: none;
}

[type="checkbox"][name="menu"] {
  order: 2;
  opacity: 0;
}

.header__navigation {
  padding: 1rem;
  background-color: $brand-color;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 180px;
  height: 100vh;
  box-shadow: 0 0 50px rgba(0,0,0,.5);
  transform: translateY(-210%);
  transition: transform 0.5s;
}

body [type="checkbox"]:checked ~ .header__navigation {
  transform: translateY(0);
}

body [type="checkbox"]:checked ~ .header__navigation label {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 210px;
  height: 100vh;
  width: calc(100vw - (210px + 20px));
  background: rgba(0,0,0,.25);
}

//here is going back to portfolio
.back-to-portfolio {
  display: inline-block;
  @include font-wei-norm-siz-16;
  @include center-background;
  background-image: img("icon_arrow_left.svg");
  background-size: 14px;
  background-position: left;
  margin-top: 17px;
  padding: 30px;
  text-decoration: $text-decoration-none;
  color: rgba(0, 0, 0, 0.5);
}

@media (min-width: $breakpoint) {
  .header__navigation-lists.nav {
    @include flex-row;
  }

  .header__navigation {
    padding: 0;
    background: none;
    position: initial;
    box-shadow: none;
    transform: none;
    transition: none;
    height: auto;
    width: auto;
  }

  [type="checkbox"] {
    display: none;
  }

  [for="menu"] {
    display: none;
  }

  .list--anchor  {
    line-height: 24px;
    font-size: 16px;
  }
}