@import "mixins";

@function img($filename) {
  @return url("../images/#{$filename}");
};

//color variables
$primary-color: #ffffff;
$brand-color: #434CCC;
$base-background-color: rgba(67, 76, 204, 0.05);
$margin-inline_header: calc(100% * 15 / 375);