@import "mixins";

@function img($filename) {
  @return url("../images/#{$filename}");
};

$text-decoration-none : none;
$list-style-none : none;

//color variables
$primary-color: #ffffff;
$brand-color: #434CCC;
$black-color: #000000;
$secondary-color: #FFDD78;
$half-black: rgba(0, 0, 0, 0.5);
$base-background-color: rgba(67, 76, 204, 0.05);
$margin-inline: calc(100% * 15 / 375);

//fonts variables
$normal-font-weight: normal;
$font-size-18: 18px; 
$font-size-16: 16px; 
